.MuiDrawer-paper {
    top: 57px !important;
    /* flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column; */
}

body{
    /* background:  red; */
}


.noteCard{
    border-radius: 12px;
    border: 1px solid rgb(112, 110, 110);
    box-shadow: 3px 3px 8px grey;
}